
/* ANIMATION */
@keyframes colorChange {
  0%, 100% { color: blue; }
  25% { color: red; }
  50% { color: green; }
  75% { color: orange; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  5% { opacity: 0.9; }
  10% { opacity: 0.8; }
  15% { opacity: 0.7; }
  20% { opacity: 0.6; }
  25% { opacity: 0.5; }
  30% { opacity: 0.4; }
  35% { opacity: 0.3; }
  40% { opacity: 0.2; }
  45% { opacity: 0.1; }
  50% { opacity: 0; } /* transparent */
  55% { opacity: 0.1; }
  60% { opacity: 0.2; }
  65% { opacity: 0.3; }
  70% { opacity: 0.4; }
  75% { opacity: 0.5; }
  80% { opacity: 0.6; }
  85% { opacity: 0.7; }
  90% { opacity: 0.8; }
  95% { opacity: 0.9; }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.synerg{
  animation: blink 10s step-start infinite;
}
.synerg:hover {
  display: inline-block;
  animation: colorChange 4s infinite, rotate 0.5s linear infinite;
  font-size: 120%; /* Increase normal size */
  transition: transform 0.2s ease, font-size 0.5s ease;
}

/* COLOUR INPLACE */
.red {
  color:red;
}
.white {
  color:white;
}
.lshtm-blue {
  background-color:#01484e;/* #04434b # #00464e # */
  color: white;
}
.seal {
  color:white;
}

/* SIZE INPLACE */
.bq {
  font-size: 150%;
  color:#01484e;
}
.sources {
  font-size:80%;
}
.refs {
  font-size:80%;
}
.vsmall {
  font-size:73%;
}

/* HIGHLIGHTS */
.class-q {
  position: absolute;
  left: 25%;
  margin-top: 0px;
  padding:5px;
  border: 5px solid red;
  font-size:150%;
  color:white;
  background-color: black;
}

/* CONTAINERS*/

.footnote {
  font-size: 70%;
}

.threeframe {
  display: inline-block;
  max-width:30%;
  max-height: 100%;
}

.fullwidth {
  width: 100%;
}

.centerc {
  display: flex;
  align-items: center;
  justify-content: center;
}

